Repository hungryhawk/set-up: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, npx stylelint --fix

fix: \dfgdfgdfg
  .commitlintrc.json
  .husky/commit-msg
  package.json
  pnpm-lock.yaml
  src/App.tsx
Due: prettier --write, eslint --fix

feat: add github actions
  index.html
  src/App.test.ts
  vite.config.ts
Due: prettier --write, eslint --fix

Create deploy.yml
  .github/workflows/deploy.yml
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

feat: dsfsfd
  package-lock.json
  pnpm-lock.yaml
Due: none

feat: anna
  src/App.tsx
Due: prettier --write, eslint --fix

feat: fix tests
  package-lock.json
  package.json
  src/App.test.ts
  tsconfig.json
Due: prettier --write, eslint --fix

fix: fail test
  src/App.test.ts
Due: prettier --write, eslint --fix

feat: add pre-push hook
  .husky/pre-push
  src/App.scss
  src/App.tsx
Due: prettier --write, eslint --fix, npx stylelint --fix

fix: fix tests
  src/App.test.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: src/*.{ts,tsx,js,jsx}
  eslint --fix: any of: src/*.{ts,tsx,js,jsx}
  npx stylelint --fix: any of: *.scss
